<h3 style="font-size: 30px; color: darkblue;">Hello {{ firstname }} !</h3>

<div>
  <font style="color: #333333;">
    We're sorry notice you that your talk has been refused :/<br/>
    Reason :<br>
    {{ reason }}
    <hr>
    Don't abandon and try once more with anything else !
  </font>
</div>

<br/><hr><br/>

<div>
  <font style="color: #333333;">
    Thank you using MeetGate !<br/><br/>
    <span style="color: orangered; font-weight: bold;">~ MeetGate Team ~</span>
  </font>
</div>