{% extends 'default/base.html.twig' %}

{% block title %}Confirm{% endblock %}

{% block body %}

  <div class="container spacer">
    <div class="row">
      <div class="col-md-12">

        <h1 class="display-4">Confirm your account</h1>
        <hr class="my-4">

        {% include 'default/flashs.html.twig' %}

        {% if valid is defined and valid == true %}

          You can now log yourself : <a href="{{ url('login') }}">Log me</a>

        {% elseif valid is defined and valid == false %}

          <a href="{{ url('register') }}">> Go back to the registration</a>

        {% else %}

        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}