/* Home */

div.no-margin{margin: 0!important;}
div.clear{clear: both;}
span.price{color: darkgreen;}
a.tag-link,
a.tag-link:hover{text-decoration: none;}
small.ban{color: red;}
button.not-allowed:hover{cursor: not-allowed;}
.pagination span{font-size: 20px; padding: 0 10px;}
.pagination a{font-size: 20px; padding: 0 10px;}
.form-spacer label{margin: 0 15px 0 5px!important;}
.info-map{margin-top: 20px;}
div.spacer{margin-top: 30px;}
button.btn-spacer{margin-top: 15px;}
input.form-spacer{margin: 10px auto;}
div.form-group div ul li{color: #e1302a;}
i.fa-flasher{font-weight: bold;}
div.alert-warning{color: black;}
div.wrap-login100 .alert{border-radius: 0; margin-bottom: 0;}



div.meetgate {position: relative; display: inline-block; max-width: 1920px; width: 100%; max-height: 1080px; height: 100%;}
div.meetgate div.container-fluid{padding: 0;}
div.meetgate div.container-fluid div.intro{background: url("../img/mainBackground.jpg") top center no-repeat;}
div.meetgate div.container-fluid div.our-talks{padding: 307px 0 594px 0; width: 100%; text-align: center;}
div.meetgate div.container-fluid div.our-talks h1{font-size: 50px;}
div.meetgate div.container-fluid div.our-talks a.btn-top{padding: 15px 30px; font-size: 18px;}
div.meetgate div.container-fluid div.our-talks a.btn-events{margin-right: 20px;}
div.meetgate div.container-fluid div.our-talks a.btn-themes{margin-left: 20px; background-color: grey;}
div.meetgate div.container-fluid div.our-talks a.btn-themes:hover{cursor: not-allowed;}
div.meetgate div.container-fluid div.researchbar-content{display: inline-block; text-align: center; width: 100%;}
div.meetgate div.container-fluid div.researchbar-content div.rsbar{width: 40%; background-color: #3a3a3a; padding: 10px 10px; margin: 0 auto; display: inline-block; vertical-align: top; margin-left: -4px; margin-right: -4px;}
div.meetgate div.container-fluid div.researchbar-content div.arrow-left{display: inline-block; width: 0; height: 0; border-top: 35px solid transparent; border-right : 61px solid #3a3a3a; border-bottom : 35px solid transparent;}
div.meetgate div.container-fluid div.researchbar-content div.arrow-right{display: inline-block; width: 0; height: 0; border-top: 35px solid transparent; border-left : 61px solid #3a3a3a; border-bottom : 35px solid transparent;}
div.meetgate div.container-fluid div.researchbar-content div.form-group{margin-bottom: 0;}
div.meetgate div.container-fluid div.researchbar-content div.form-group input{border-radius: 0; height: 50px;}
div.meetgate div.container-fluid div.researchbar-content div.form-group button.btn-search{border-radius: 0 6.4px 6.4px 0; padding: 0 30px;}
div.meetgate div.container-fluid div.events{text-align: center; margin: 50px 0 0 0; background-color: #e6e6e6;}
div.meetgate div.container-fluid div.events div.eventlist{display: inline-block; text-align: center; margin: 0 0 50px 0;}
div.meetgate div.container-fluid div.events div.eventlist div.event{display: inline-block; border: 1px solid #d2d2d2; background-color: #e6e6e6; min-height: 640px; margin: 0 10px 30px 10px;}
div.meetgate div.container-fluid div.events div.eventlist div.event div.event-title{border-bottom: 1px solid #d2d2d2; padding: 10px 20px; text-transform: uppercase; background-color: #ffffff;}
div.meetgate div.container-fluid div.events div.eventlist div.event div.event-content{border-bottom: 1px solid #d2d2d2; padding: 0; overflow: hidden; background-color: #ffffff;}
div.meetgate div.container-fluid div.events div.eventlist div.event div.event-description{padding: 0 20px; background-color: #ffffff;}
div.meetgate div.container-fluid div.events div.eventlist div.event div.event-description p{text-align: left; padding: 10px 0;}
div.meetgate div.container-fluid div.create-yourself{background-color: #3a3a3a; color: #c1c1c1; width: 100%; padding: 100px 0;}
div.meetgate div.container-fluid div.create-yourself h3{margin: 0 0 50px 0; color: #c1c1c1;}
div.meetgate div.container-fluid div.create-yourself .entity{padding: 0 100px; display: inline-block;}
div.meetgate div.container-fluid div.create-yourself .entity a{text-decoration: none; color: #c1c1c1;}
div.meetgate div.container-fluid div.create-yourself .entity a:hover{text-decoration: none; color: #ffffff;}
div.meetgate div.container-fluid div.create-yourself .entity span{vertical-align: top; font-size: 30px; line-height: 62px; padding-left: 20px;}

div.meetgate div.event{background: url("../img/mainBackground.jpg") top center fixed no-repeat;}
div.meetgate div.event div.main{max-width: 100%; text-align: center; padding: 30px 0;}
div.meetgate div.event div.main h1{text-transform: uppercase; text-align: left;}

div.meetgate div.event div.main div.row.font{background-color: #ffffff;}
div.meetgate div.event div.main div.row.font.first{border-radius: 10px 10px 0 0;}
div.meetgate div.event div.main div.row.font.bottom{border-radius: 0 0 10px 10px;}

div.meetgate div.event div.main div.content{padding: 0; background-color: #ffffff; width: 80%; margin: 20px auto 0 auto; box-shadow: 2px 2px 10px lightgrey;}
div.meetgate div.event div.main div.content.intro{border-radius: 10px 10px 0 0;}

div.meetgate div.event div.main div.content.intro p{margin-bottom: 0;}
div.meetgate div.event div.main div.content.intro img{float: left;}
div.meetgate div.event div.main div.content.intro div.display{margin: 15px 0;}
div.meetgate div.event div.main div.content.intro div.display img{border-radius: 10px 0 0 0;}
div.meetgate div.event div.main div.content.intro div.aside{padding: 20px 0 0 30px;}
div.meetgate div.event div.main div.content.intro div.aside div.data{background-color: #ffffff;}
div.meetgate div.event div.main div.content.intro div.aside div.desc{text-align: left; padding: 0 20px;}

div.meetgate div.event div.main div.content.talks{width: 100%; box-shadow: 2px 2px 10px #4e4e4e; background-color: rgba(225,225,225,0.7);}
div.meetgate div.event div.main div.content.talks .talks-back{text-align: center;}
div.meetgate div.event div.main div.content.talks .talks-back .talks-row{margin: 20px auto; background-color: #ffffff; width: 90%; text-align: left; border-radius: 10px 0 10px 0;}
div.meetgate div.event div.main div.content.talks .talks-back .talks-row .talk-hr{background-color: #e8e8e8; width: 80%; margin-left: 20px;}
div.meetgate div.event div.main div.content.talks .talks-back .talks-row .talk-title{text-transform: uppercase; line-height: 20px;}
div.meetgate div.event div.main div.content.talks .talks-back .talks-row .talk-title h2{margin: 10px;}
div.meetgate div.event div.main div.content.talks .talks-back .talks-row .talk-rate{color: #ffc332; font-weight: bold; font-size: 15px; line-height: 45px;}
div.meetgate div.event div.main div.content.talks .talks-back .talks-row .talk-desc{min-height: 100px;}
div.meetgate div.event div.main div.content.talks .talks-back .talks-row .talk-author{}

div.meetgate div.event div.main div.content.map{border-radius: 0;}

#mapid{margin: 10px 0 0 25px;}