<h3 style="font-size: 20px; color: darkred;">Hello {{ firstname }} !</h3>

<div>
  <font style="color: #333333;">
    An event has been created !<br/>
    Don't waste one minute and discover it : <a href="{{ url }}">{{ event.title }}</a><br/>
  </font>
</div>

<br/><hr><br/>

<div>
  <font style="color: #333333;">
    Thank you using MeetGate !<br/><br/>
    <span style="color: orangered; font-weight: bold;">~ MeetGate Team ~</span>
  </font>
</div>