<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <title>MeetGate&nbsp;|&nbsp;{% block title %}Something{% endblock %}</title>

        {{ include('stylesheets.html.twig') }}

    </head>

    <body>

    {{ include('header.html.twig') }}

    {% block body %}{% endblock %}

    {{ include('scripts.html.twig') }}

    </body>

</html>