<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <title>MeetGate&nbsp;|&nbsp;{% block title %}Something{% endblock %}</title>

        {{ include('default/stylesheets.html.twig') }}

    </head>

    <body>

    {{ include('default/header.html.twig') }}

    {% block body %}{% endblock %}

    {{ include('default/scripts.html.twig') }}

    </body>

</html>