<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMeetGate"
                aria-controls="navbarMeetGate" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMeetGate">
            <ul class="navbar-nav mr-auto">

                {% if app.request.get('_route') == 'index' %}
                <li class="nav-item active">
                    {% else %}
                <li class="nav-item">
                    {% endif %}
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                {% if app.user == null %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('login') }}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('register') }}">Sign Up</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <span id="btnGroupDrop2"
                                      class="dropdown-toggle profile"
                                      data-toggle="dropdown" aria-haspopup="true"
                                      aria-expanded="false" style="color: #FFFFFF">
                                    <span>Bienvenue</span>&nbsp;
                                    <span class="user-navbar">{{ app.user.name }}</span>
                                </span>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                    <a class="dropdown-item" href="{{ url('logout') }}">Me déconnecter</a>
                                    <a class="dropdown-item" href="#">Dashboard</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>