{% extends 'default/base.html.twig' %}

{% block title %}Create a Talk{% endblock %}

{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        Work in progress, don't cry !

      </div>
    </div>
  </div>

{% endblock %}