<h3 style="font-size: 30px; color: darkblue;">Hello {{ firstname }} !</h3>

<div>
  <font style="color: #333333;">
    An event has been created !<br/>
    If you want to check it, follow thing link : <a href="{{ url }}">{{ title }}</a><br/>
  </font>
</div>

<br/><hr><br/>

<div>
  <font style="color: #333333;">
    Thank you using Meetgate !<br/><br/>
    <span style="color: orangered; font-weight: bold;">~ MeetGate Team ~</span>
  </font>
</div>