<h3 style="font-size: 30px; color: darkblue;">Hello {{ firstname }} !</h3>

<div>
    <font style="color: #333333;">
        You asked us to send an email to reset your password.<br/>
        If you are not the originator of this email, please contact support :)<br/>
    </font>
</div>

<br/><hr><br/>

<a href="{{ url }}"
   style="display: inline-block; background-color: darkblue; color: white; padding: 10px 20px; text-decoration: none;">Reset my password</a>.<br/><br/>

<div>
    <font style="color: #333333;">
        Thank you using Meetgate !<br/><br/>
        <span style="color: orangered; font-weight: bold;">~ MeetGate Team ~</span>
    </font>
</div>